/BfgsList.class
/Bfs.class
/CountNodes.class
/CountPathatgivenKedge.class
/CountPathbetweentwoEdge.class
/DfsList.class
/DfsListByLinked.class
/Disajtra.class
/Graph.class
/Graph1.class
/MotherVertex.class
/Primsalgo.class
/SortestPathToRechOnePrimeToAnotherPrime.class
/graph1m.class
/isConnected.class
/pathBfs.class
/pathDfs.class
/runner.class
/solution.class
